@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

:root {
  --Orange: hsl(26, 100%, 55%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
}
